<footer class="footer bg-dark mt-auto py-2 fixed-bottom">
    <div class="container-fluid px-5">
        <hr class="my-2">
        <img src="/images/bucket-svgrepo-com.png" alt="Company Logo" height="30">
        <span class="text-light">&copy; 2022 Company, Inc</span>
        <span class="float-right">
            <a href="#"><img src="/images/twitter-color.png" alt="Twitter" height="20" class="ml-3"></a>
            <a href="#"><img src="/images/fb-color.png" alt="Instagram" height="20" class="ml-3"></a>
            <a href="#"><img src="/images/is-color.png" alt="Facebook" height="20" class="ml-3"></a>
        </span>
    </div>
</footer>

</body>
</html>