<%- include('partials/head',{ additionalStyles: false }) %>
    <%- include('partials/navbar') %>
    <h1>This is Home Page</h1>
    <p><%= 'hello world'.toUpperCase() %></p>
<%- include('partials/footer') %>