<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= uName %></h1>
    <% if (uName === 'vellala_03') { %>
        <h1>Hello Vellala</h1>
      <% } else if (uName === 'vellala_04') { %>
        <h1>Hello Harshith</h1>
      <% } else { %>
        <h1>Who are you?</h1>
      <% } %>
      
</body>
</html>